
    .modal-container {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            height: 70vh;
            width: 100vh;
    }
          
    
    .map-container {
        position: relative;
        top: 5px;
        left: 5px;
        right:5px;
        bottom: 5px;
        height: 60vh;
        width: 100%;
      }
      
      .map-frame {
        border: 2px solid black;
        height: 100%;
      }
      
      #map {
        height: 100%;
      }