
<div style="background: #ECECEC;padding:30px;">
  <div nz-row>
    <div nz-col >
      <nz-card nzTitle="List Of Users">
        <nz-table #nzTable 
        [nzData]="listOfUser" 
        [nzPageSize]="5"
        nzTableLayout="fixed"
        (nzCurrentPageDataChange)="onCurrentPageDataChange($event)">
          <thead>
            <tr>
              <!-- <th
              *ngFor="let column of listOfColumns; ngForTrackBy: trackByName"
              [(nzSortOrder)]="column.sortOrder"
              [nzSortFn]="column.sortFn"
              [nzFilters]="column.listOfFilter"
              [nzFilterFn]="column.filterFn" >
              {{ column.name }}
            </th> -->
            
            <th nzCustomFilter  [nzSortFn]="listOfColumns[0].sortFn" nzColumnKey="id">
              Id
              <nz-input-group [nzSuffix]="idIconSearch">
              <input type="search" nz-input placeholder="input search text" [(ngModel)]="idSearchValue" (input)="search()" />
            </nz-input-group>
            <ng-template #idIconSearch>
              <i nz-icon nzType="search"></i>
            </ng-template>
            
            </th>
      
            <th nzCustomFilter [nzSortFn]="listOfColumns[1].sortFn" nzColumnKey="name">
              Name
              <nz-input-group [nzSuffix]="nameIconSearch">
              <input type="text" nz-input placeholder="input search" [(ngModel)]="nameSearchValue" (input)="search()" />
            </nz-input-group>
            <ng-template #nameIconSearch>
              <i nz-icon nzType="search"></i>
            </ng-template>
            
            </th>
            <th nzCustomFilter [nzSortFn]="listOfColumns[2].sortFn" nzColumnKey="username" [nzSortFn]="true">
              Username
              <nz-input-group [nzSuffix]="usernameIconSearch">
              <input type="text" nz-input placeholder="input search" [(ngModel)]="usernameSearchValue" (input)="search()" />
            </nz-input-group>
            <ng-template #usernameIconSearch>
              <i nz-icon nzType="search"></i>
            </ng-template>
          
            </th>
      
            <th nzCustomFilter [nzSortFn]="listOfColumns[3].sortFn" nzColumnKey="email" [nzSortFn]="true">
              Email
              <nz-input-group [nzSuffix]="emailIconSearch">
              <input type="text" nz-input placeholder="input search" [(ngModel)]="emailSearchValue" (input)="search()" />
            </nz-input-group>
            <ng-template #emailIconSearch>
              <i nz-icon nzType="search"></i>
            </ng-template>
            </th>
      
            <th nzCustomFilter [nzSortFn]="listOfColumns[4].sortFn" nzColumnKey="city" [nzSortFn]="true">
              City
              <nz-input-group [nzSuffix]="cityIconSearch">
              <input type="text" nz-input placeholder="input search" [(ngModel)]="citySearchValue" (input)="search()" />
            </nz-input-group>
            <ng-template #cityIconSearch>
              <i nz-icon nzType="search"></i>
            </ng-template>
            </th>
              <th>Action</th>
               <!--<th>name</th>
              <th>username</th>
              <th>email</th>
              <th>city</th> -->
              <!-- <th>zipcode</th>
              <th>address</th> -->
              <!-- <th>phone</th>
              <th>website</th>
              <th>compayName</th>
              <th>catchPhrase</th>
              <th>bs</th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of nzTable.data">
              <td>{{ data.id }}</td>
              <td>{{ data.name }}</td>
              <td>{{ data.username }}</td>
              <td>{{ data.email }}</td>
              <td>{{ data.address.city }}</td>
              <td> 
                <a nz-button nzSize="20" nzType="link" (click)="showMap(+data.address.geo.lat,+data.address.geo.lng,data.address.street)">Location</a>
                &nbsp;|&nbsp;<a nz-button nzSize="20" nzType="link" (click)="showDetails(data)">Details</a>
              </td>
         
              <!-- <td>{{ data.address.zipcode }}</td>
              <td>{{ data.address.street + " " +data.address.suite }}</td> -->
              <!-- <td>{{ data.phone }}</td>
              <td>{{ data.website }}</td>
              <td>{{ data.company.name }}</td>
              <td>{{ data.company.catchPhrase }}</td>
              <td>{{ data.company.bs }}</td> -->
            </tr>
          </tbody>
        </nz-table>
      </nz-card>
    </div>
  </div>
</div>

<div class="row">
  <nz-modal class="modal-container" [(nzVisible)]="isVisible" nzTitle="Details Of User Information" (nzOnCancel)="handleCancel()">
    <div *nzModalContent>
      <div class="container">
        <div class="row align-items-start">
          <div class="col">
            <label>Name:</label>
            <input nz-input placeholder="default size" [(ngModel)]="user.name" nzSize="default"  />
          </div>
          <div class="col">
            <label>Username:</label>
            <input nz-input placeholder="default size"  [(ngModel)]="user.username" nzSize="default" />
          </div>
        </div>
        <div class="row align-items-center">
          
          <div class="col">
            <label>Email:</label>
            <input nz-input placeholder="default size" [(ngModel)]="user.email" nzSize="default" />
          </div>
          <div class="col">
            <label>Website:</label>
            <input nz-input placeholder="default size" [(ngModel)]="user.website" nzSize="default" />
          </div>
        </div>
        <div class="row align-items-end">
          <div class="col">
            <label>CompanyName:</label>
            <input nz-input placeholder="default size" [(ngModel)]="user.company.name" nzSize="default" />
          </div>
          <div class="col">
            <label>City:</label>
            <input nz-input placeholder="default size" [(ngModel)]="user.address.city" nzSize="default" />
          </div>
        </div>
        <div class="row align-items-end">
          <div class="col">
            <label>street:</label>
            <input nz-input placeholder="default size" [(ngModel)]="user.address.street" nzSize="default" />
          </div>
          <div class="col">
            <label>Suite:</label>
            <input nz-input placeholder="default size" [(ngModel)]="user.address.suite" nzSize="default" />
          </div>
        </div>
        <div class="row align-items-end">
          <div class="col">
            <label>Phone:</label>
            <input nz-input placeholder="default size" [(ngModel)]="user.phone" nzSize="default" />
          </div>
          <div class="col">
            <label>Zipcode:</label>
            <input nz-input placeholder="default size" [(ngModel)]="user.address.zipcode" nzSize="default" />
          </div>
        </div>
      </div>
    </div>
    <div *nzModalFooter>
      <button nz-button nzType="button"  nzSize="50" (click)="handleCancel()">Cancel</button> | &nbsp;&nbsp;
      <button nz-button nzType="button"  nzSize="50" (click)="handleOk()">Ok</button>
    </div>
  </nz-modal>

</div>
  
  