<section class="main-baner-section">

    <div class="top-image">
        <img class="img1 animation-round" src="assets/img/baner/img1.png" >
    </div>
  
    <div class="container">
        <div class="text-block">
            <h4 class="first-title">Start your favourite course</h4>
            <h2 class="main-text">Now learning from anywhere, and build your <span>bright career.</span></h2>
            <p>It has survived not only five centuries but also the leap into electronic typesetting.</p>
            <a class="btn btn-primary btn-hover-dark" href="#">Start A Course</a>
        </div>
    </div>
   
    <div class="count-image-box">

        <img class="count-img1 animation-left" src="assets/img/baner/img3.png">

        <div class="box-content">
            <div class="box-wrapper">
                <i class="flaticon-open-book"></i>
                <span class="count">1,235</span>
                <p>courses</p>
            </div>
        </div>
        <img class="img2" src="assets/img/baner/img6.png" alt="baner">

    </div>
  
  
  <div class="rate-box">

    <div class="rating">
        <div class="box-wrapper">
            <span class="count">4.8 <i class="fa fa-star"></i></span>
            <p>Rating (86K)</p>
        </div>
    </div>

    <img class="animation-up" src="assets/img/baner/img10.png" alt="class register">

</div>
<!-- Slider Rating Box End -->

<!-- Slider Images Start -->
<div class="image-box">
    <div class="images">
        <img src="assets/img/baner/big-img9.png" alt="Slider">
    </div>
</div>
  
  </section>
     