<section class="baner-section">
    <img class="img1" src="assets/img/baner/img1.png" alt="class register">
  
    <img class="img2" src="assets/img/baner/img2.png" >
  
    <div class="container">
      <div class="text-block">
        <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Register</li>
        </ul>
        <h2 class="title">Registration <span>Form</span></h2>
  </div>
    </div>
   
    <div class="image-box">
  
      <img class="img3 animation" src="assets/img/baner/img3.png">
  
      <div class="box-content">
          <div class="box-wrapper">
            <img src="assets/img/baner/ribbon.png" >
              
          </div>
      </div>
  
      <img class="img2" src="assets/img/baner/img6.png" >
  
  </div>

  
  <img class="img3" src="assets/img/baner/img7.png">
  
  <img class="img8" src="assets/img/baner/jp-img8.jpg" >
  
  </section>