<section class="bottom">
  <div class="bottom-wrapper">
      <div class="title-text">
          <h5>Ready to start?</h5>
          <h2>Download our mobile app. for easy to start your course.</h2>
      </div>
      <div class="btn-down">
          <ul class="app-btn">
              <li><a href="#"><img src="assets/img/baner/google-play.png" alt="Google Play"></a></li>
              <li><a href="#"><img src="assets/img/baner/app-store.png" alt="App Store"></a></li>
          </ul>
      </div>>

  </div>
</section>

<footer class="footer">
  <div class="fisrt-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 order-md-1 order-lg-1">
                <div class="firs-item">
                    <div class="widget-logo">
                        <a href="#"><img src="assets/img/baner/logo.png" alt="Logo"></a>
                    </div>

                    <div class="address">
                        <h4 class="footer-widget-title">Caribbean Ct</h4>
                        <p>Haymarket, Virginia (VA).</p>
                    </div>

                    <ul class="address">
                        <li>
                            <p> <i class="flaticon-email"></i> <a href="mailto:address@gmail.com">address@gmail.com</a> </p>
                        </li>
                        <li>
                            <p> <i class="flaticon-phone-call"></i> <a href="tel:9702621413">(970) 262-1413</a> </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 order-md-3 order-lg-2">
                <div class="second-section">
                    <div class="widget">
                        <h4 class="widget-title">Category</h4>

                        <ul class="widget-link">
                            <li><a href="#">Creative Writing</a></li>
                            <li><a href="#">Film &amp; Video</a></li>
                            <li><a href="#">Graphic Design</a></li>
                            <li><a href="#">UI/UX Design</a></li>
                            <li><a href="#">Business Analytics</a></li>
                            <li><a href="#">Marketing</a></li>
                        </ul>

                    </div>
                    <div class="widget">
                        <h4 class="widget-title">Quick Links</h4>

                        <ul class="widget-link">
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Discussion</a></li>
                            <li><a href="#">Terms &amp; Conditions</a></li>
                            <li><a href="#">Customer Support</a></li>
                            <li><a href="#">Course FAQ’s</a></li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 order-md-2 order-lg-3 three-section">
                <div class="widget1">
                    <h4 class="widget-title">Subscribe</h4>

                    <div class="widget-subscribe">
                        <p>Lorem Ipsum has been them an industry printer took a galley make book.</p>

                        <div class="widget-form">
                            <form action="#">
                                <input type="text" placeholder="Email here">
                                <button class="btn btn-success btn-hover-dark">Subscribe Now</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="last-section">
    <div class="container">
        <div class="wrapper">
            <div class="link">
                <a href="#">Terms of Service</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Sitemap</a>
                <a href="#">Security</a>
            </div>
            <div class="text">
                <p>© 2021 <span> Edule </span> Made with <i class="icofont-heart-alt"></i> by <a href="#">Codecarnival</a></p>
            </div>
        </div>

    </div>
</div>
 </footer>